
.kakaomap_container {
    border: 1px solid #ffffff; 
    margin: 100px 30px 10px 30px; 
    width: calc(100% - 60px); 
    height: 60vh; 
    border-radius: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
   
}
