.user_info_container {
    display: flex;
    align-items: center;
    position: absolute; 
    right: 30px;
    top: 30px; 
}

.left_box, .right_box {
    display: flex;
    align-items: center;
    position: relative;
}

.box_image {
    height: 48px;
}

.logout_section, .user_section {
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: absolute;
    left: 10px;
}

.user_section {
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.button_icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.button_text {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'NunitoSansCondensedLight', sans-serif;
}

.user_text {
    margin-left: 10px;
    ;
}
