/* 폰트 임베드~~ */
@font-face {
    font-family: 'EBSHMJESaeronRA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CHONBUKL';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/CHONBUKL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#root {
    background-color: #D6DAC8;
    background-image: linear-gradient(0deg,#758694 0%, #B4B4B8 100%);
}



.introContent {

    width: 300px;
    height: 150px;
    background: rgb(216, 217, 207, 0.2) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: 140px;
    border-radius: 50px;
}   

.introContent p {

    font-size: 17px;
    font-family: "NEXON Lv1 Gothic OTF", sans-serif;
}

.secondContent {
    width: 300px;
    height: 150px;
    background: rgb(160, 188, 194,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 600px;
    margin-left: 900px; /* 자동으로 왼쪽 여백을 채워서 오른쪽에 붙임 */
    border-radius: 50px;
}

.secondContent p {

    font-size: 17px;
    font-family: "NEXON Lv1 Gothic OTF", sans-serif;
    line-height: 1.8;
}


.thirdWrap {

    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;

}

.image-direct{

  width: 50%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-direct img {
    width: 80%;
}

.image-direct p {

    font-family: "NEXON Lv1 Gothic OTF";
    font-size: 15px;
    margin-top: 10px;
}

.map-direct{

  width: 50%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.map-direct img {
    width: 90%;
}

.map-direct p {

    font-family: "NEXON Lv1 Gothic OTF";
    font-size: 15px;
    margin-top: 10px;

  }
  

