.image_grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 60px;
}

.image_item {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.image_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.photo-checkbox {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    cursor: pointer;
}

.image_item p {
    margin: 8px 0 0;
    font-size: 14px;
}

.title {
    margin-bottom: 24px; 
}

.side_title {
    margin-top: 24px; 
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* 스크롤을 하더라도 고정된 위치에 유지 */
    bottom: 40px; /* 화면 아래에서 20px 위에 위치 */
    left: 50%; /* 수평 중앙에 위치 */
    transform: translateX(-50%); /* 중앙 정렬을 위한 트랜스폼 */
    width: 234px; /* pagination div의 너비 */
    height: 55px; /* pagination div의 높이 */
    background-color: rgba(234, 208, 255, 0.3); /* 배경색: EAD0FF, 투명도 30% */
    border-radius: 50px; /* 둥글기 50 설정 */
    gap: 15px; /* 요소들 간의 간격 */
    box-sizing: border-box;
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}